<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include('Navbar')%>



    <div class="container">
        <h1>Edit the Blog Post</h1>
        <form method="post" action="/Edit/Blog/<%= Found.title%>?_method=PUT">
          
            <div class="form-group">
                <label for="post-title">Title</label>
                <input type="text" class="form-control" name="title" id="post-title" placeholder="Enter post title" value="<%=Found.title%>">
            </div>
            <div class="form-group">
                <label for="post-content">Content</label>
               
                <textarea class="form-control" id="post-content" rows="5" placeholder="Enter post content"
                    name="content" ><%=Found.content%></textarea>
            </div>
            <div class="form-group">
                <label for="post-author">Author</label>
                <input value="<%=Found.author%>" type="text" class="form-control" id="post-author" placeholder="Enter post author" name="author">
            </div>
            <div class="form-group">
                <label for="post-Category">Category</label>
                <input value="<%=Found.Category%>" type="text" class="form-control" id="post-Category" placeholder="Enter The Category from: Technical,Finance,AutoMobile,Personality,Tutorials" name="Category">
              
                  
            </div>
            <div class="form-group">
                <label for="post-date">Date and Time</label>
                <input type="datetime-local" class="form-control DateCont" value="<%=Found.date%>" id="post-date" name="date">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


        <%- include('footer')%>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>


</body>

</html>